.Header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.Title {
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: start;
  padding: 0;
  margin: 0;
  color: var(--color-text-normal);
}

.MonthlyCostBox {
  --gap: var(--size-small);
  --padding-inline: var(--size-large);
  --padding-block: var(--size-medium);
  --size-arrow: var(--size-large);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);

  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  margin: 0;
  margin-block-end: var(--size-arrow);
  border-radius: var(--border-radius);

  color: var(--color-text-inverted);
  background-color: var(--color-brand-violet);
  text-align: center;

  /* "Arrow" of the speak bubble */
  &::after {
    width: 0px;
    height: 0px;
    content: "";
    position: relative;

    left: calc(25% - var(--padding-inline));
    bottom: calc(-1 * (var(--size-arrow) + var(--padding-block)));
    margin-block-start: calc(-1 * (var(--size-arrow) + var(--gap)));

    border-width: 0;
    border-inline-end-width: var(--size-arrow);
    border-block-start-width: var(--size-arrow);
    border-style: solid;
    border-color: transparent;
    border-block-start-color: var(--color-brand-violet);
  }

  & .MonthlyCostText {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.Footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: var(--size-medium);
}
